.sideBar-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1FA790;
    position: fixed;
    img{
        position: absolute;
        top: 40%;
    }
}