.profile-container{
    display: flex;
    position: absolute;
    left: -70px;
    top: 35vh;
}
@media (max-width: 1280px){
    .profile-container{
        min-height: 83vh;
        top: 0%;
        left: 0%;
        right: 0%;
        // position: relative !important;
        justify-content: center;
        align-items: center;

    }
}
@media (max-width: 800px){
   .profile-container{
    flex-direction: column;
    margin-bottom: 5vh;
    margin-top: 3vh;
    padding-left: -10vw;
    padding-right: -10vw;
    img{
     width: 250px;
    }
   }
}

.profile-desc{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 4rem;
    margin-right: 4rem;
}
.buttons-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
    margin-top: 1rem;
}
.button-cv{
    background-color: #1FA790 !important;
    border-color: #1FA790 !important;
    a, p, span{
        text-decoration: none !important;
        color: white;
    }
}
.button-contact{
    a, p, span{
        text-decoration: none !important;
        color: white;
    }
}
.button-cv:hover{
    transition: ease .3s;
    opacity: .8;
}
.material-symbols-outlined{
    font-size: 16px !important;
}
.btn-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
p{
    margin-bottom: 0 !important;
}

