.navBar-container{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding: 10px !important;
    margin-left: 6rem;
    margin-right: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.12);
}
.active-nav{
    color: #cb7a09;
    margin: 10px;
  }
  .active-nav:hover{
    color: #ff9808
  }
  .active:hover{
    color: #ed8c05;
  }
  .navLink{
    margin: 10px;
    color: rgb(121, 122, 134);
  }
  .navLink:hover{
    color: rgb(248, 217, 176);
  }
span{
  scale: 1.9;
}