@media (min-width: 1281px){
  .navBar-container{
      display: flex !important;
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
      padding: 10px !important;
      margin-left: 6rem;
      margin-right: 1rem;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0,0,0,.12);
      background-color: white;
      position: fixed;
      right: 0;
  }
  .navLink{
    margin: 10px;
    color: rgb(121, 122, 134) !important;
  }
}

@media (max-width: 1281px) {
  .navBar-container {
    justify-content: space-around !important;
    gap: 1.5rem;
    // margin-right: -17vw;
  }

  // .material-symbols-outlined {
  //   display: flex !important;
  //   justify-content: center !important;
  //   align-items: center !important;
  //   text-decoration: none !important; /* Quita el subrayado */
  // }

}
.active-nav{
    color: #cb7a09;
    margin: 10px;
  }
  .active-nav:hover{
    color: #ff9808
  }
  .active:hover{
    color: #ed8c05;
  }
  .navLink{
    margin: 10px;
    color: whitesmoke;
  }
  .navLink:hover{
    color: rgb(248, 217, 176);
  }
span{
  scale: 1.9;
}


