/* IconCarouselComponent.css */

.icon-cards {
    position: relative;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
  }
  
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  
  .icon-cards__content.step-animation {
    animation: carousel 8s infinite steps(1) forwards;
  }
  .icon-cards__content:hover,
  .icon-cards__content.step-animation:hover {
    animation-play-state: paused;
  }

  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
  }
  
  .icon-cards__item:nth-child(1) {
    background-image: url(https://res.cloudinary.com/dezwpnks0/image/upload/v1696954297/agi_controls_j6rvh8.webp);
    background-size: cover;
    transform: rotateY(0) translateZ(35vw);
    position: relative;
  }
  
  .icon-cards__item:nth-child(2) {
    background-image: url(https://res.cloudinary.com/dezwpnks0/image/upload/v1696956679/ba_twmuub.webp);
    background-size: cover;
    background-position: center;
    transform: rotateY(120deg) translateZ(35vw);
  }
  
  .icon-cards__item:nth-child(3) {
    background-image: url(https://res.cloudinary.com/dezwpnks0/image/upload/v1696956949/cabra_tiib5w.webp);
    background-size: cover;
    background-position: center;
    transform: rotateY(240deg) translateZ(35vw);
  }
  
  .icon-cards__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Fondo negro */
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.3s ease; /* Transición de opacidad para un efecto suave */
  }
  
  .icon-cards__item:hover::before {
    opacity: 0.5; /* Opacidad del fondo negro al hacer hover */
  }
  
  /* Estilos para el texto "lorem ipsum" centrado */
  .icon-cards__item:nth-child(1):hover:after {
    content: 'AGI-CONTROLS: Aplicacion para la gestión de ordenes/facturas mineras en Chile (React.js, Node.js, MongoDB).';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 1; /* El texto es completamente opaco */
  }
  .icon-cards__item:nth-child(2):hover:after {
    content: 'BUENA AVENTURA: Sitio web para el arriendo de cabañas (WordPress).';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 1; /* El texto es completamente opaco */
  }
  .icon-cards__item:nth-child(3):hover:after {
    content: 'CABRA DEL VALLE: Aplicacion web para agencia turistica (React.js, Node.js, MongoDB)';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 1; /* El texto es completamente opaco */
  }
  .checkbox {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f47956;
    transition: color 0.3s ease;
    user-select: none;
  }
  
  .checkbox:hover {
    color: #f7a95a;
  }
  
  .checkbox__checkbox {
    position: relative;
    top: 0;
    width: 1.0625rem;
    height: 1.0625rem;
    background: white;
    border: 1px solid currentColor;
    border-radius: 4px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
  }
  
  .checkbox__checkbox::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  
  .checkbox > input:checked ~ .checkbox__checkbox {
    border-color: transparent;
    background: #f47956;
    animation: jelly 0.6s ease;
  
    &:after {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }
  }
  .checked{
    background: #f47956;
  }
  @keyframes carousel {
    0%,
    17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%,
    45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%,
    72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%,
    100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  
  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  .carousel-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portafolio-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .logos-wrapper{
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.1);
    position: relative; /* Establece la posición relativa para que los pseudoelementos sean relativos a este elemento */
    img{
      max-width: 200px;
      max-height: 70px;
    }
  }
  @media (max-width: 880px){
    .logos-wrapper{
      img{
        max-width: 100px;
        max-height: 70px;
      }
    } 
  }
  
  .logos-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: -9.44vw; /* Cubrirá 9.44vw hacia la derecha */
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1; /* Coloca el pseudoelemento detrás del contenido principal */
}
@media (max-width: 1280px){
  .logos-wrapper::before{
    right: 0vw;
  }
}

  .logo_buenaaventura{
    max-height: 70px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      font-family: 'Amatic SC', sans-serif;

    }
  }
  .h1{
    text-align: center;
    padding-bottom: 5rem;
  }