.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inicio-container{
  display: grid;
  grid-template-areas: 'aside main navBar';
  grid-template-columns: 1.3fr 3.5fr .5fr;
  min-height: 100vh;
  align-items: center;
  position: relative;
} 
@media (max-width: 1280px){
  .inicio-container{
    display: grid;
    grid-template-columns: none;
    grid-template-areas: 'navBar'
                          'main' 
                          'aside';
    grid-template-rows: none;
    min-height: 100vh;
    align-items: center;
  }
  .main{
    min-height: 83vh !important;
  }
}

.bg-image{
  scale: .7;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -30px;
  margin-top: -55px;
}
@media (max-width: 1280px){
   .bg-image{
    display: none;
   }
}

.aside{
  grid-area: aside;
  background-color: #1FA790;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
@media (min-width: 1280px){
  .aside{
    grid-area: aside;
    background-color: #1FA790;
    height: var(--main-height, 100vh);
    min-height: 100vh;
  }  
}
@media (max-height: 800px){
   .aside{
    margin-top: 20vh;
   }
}

.main{
  grid-area: main;
  display: flex;
  min-height: 100vh;
  position: relative;
 
  img{
      max-width: 300px;
  }

}
.navBar{
  display: flex;
  align-items: center;
  grid-area: navBar;
  background-color: #1FA790;
  // height: 7vh;
}
@media (min-width: 1281px){
  .navBar{
    position: fixed;
    top: 45%;
  }
}

body, html {
  margin: 0;
  padding: 0;
}

.aside-container {
  background-color: #1FA790;
}

.main-container {
  margin-left: 250px; /* Ancho del SideBar */
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Permitir desplazamiento vertical en el área principal */
}

.portafolioView-container{
  display: flex;
  flex-direction: column;
}
