body {
  margin: 0;
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Gabarito', sans-serif !important;
  /* letter-spacing: -.5px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
